<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <%- include('../../includes/head.ejs') %>
    </head>

    <body>

        <h1>Seu registro foi cancelado? Entre em contato e ative-o novamente!</h1>
        
        <%- include('../../includes/scripts.ejs') %>

    </body>

</html>
