<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <%- include('../../includes/head.ejs') %>
    </head>

    <body>

        <h1>Estamos aguardando a ativação de sua assinatura!</h1>
        
        <%- include('../../includes/scripts.ejs') %>

    </body>

</html>
