<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <%- include('../includes/head.ejs') %>
    </head>

    <body>

        <h1>Não foi possível conceder autorização para acesso ao sistema</h1>
        
        <%- include('../includes/scripts.ejs') %>

    </body>

</html>
