<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <%- include('./includes/head.ejs') %>

    </head>

    <body>

        <h1>
            <%= (data && data.user) ? data.user.name : 'User Not Found' %>
        </h1>

        <%- include('./includes/scripts.ejs') %>

    </body>

</html>
