<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <%- include('./includes/head.ejs') %>

    </head>

    <body>

        <%- include('./includes/scripts.ejs') %>

        <script src="/js/app/pages/dashboard.js"></script>

    </body>

</html>
